<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ song.title }}</title>

    <link rel="stylesheet" href="{{ page.static_path }}/style-a4.css" type="text/css" media="all" />
</head>
<body>
    <div class="content-wrapper">
        <!-- Organization header with left and right aligned text -->
        <table class="page-header" width="100%">
            <tr>
                <td style="text-align: left;">
                        <div style="display: flex; align-items: center;">
                            <img src="{{ page.static_path }}/header-logo.png" alt="Logo" style="width: 25px; height: auto; margin-right: 5px;">
                            <span>Hasomer Hacair</span>
                        </div>
                </td>
                <td style="text-align: center;">
                        Daloskönyv zenészeknek
                </td>
                <td style="text-align: right;">
                        Siron la-naganim שירון לנגנים
                </td>
            </tr>
        </table>
        <table class="song-header">
            <tr>
                <td style="text-align: left;">
                    <span class="song-id">{{ song.id }}</span>
                    <span class="song-category">{{ song.category }}</span>
                </td>
                <td style="text-align: right;">
                    {% if song.explicit_content %}
                    <div class="song-explicit-content">Szókimondó szövegek!</div>
                    {% endif %}
                </td>
            </tr>
        </table>
        
        <!-- Song information header -->
        
        <!-- Song title and author in one line with alignment -->
        <table style="width: 100%; border-collapse: collapse; margin-bottom: 15px;">
            <tr>
                <td style="text-align: left; vertical-align: middle;">
                    <h1 class="song-title" style="margin: 0;">{{ song.title }}</h1>
                </td>
                {% if song.author %}
                <td style="text-align: right; vertical-align: middle;">
                    <p class="song-author" style="margin: 0;">Előadó: {{ song.author }}</p>
                </td>
                {% endif %}
            </tr>
        </table>
        
        <div class="lyrics-container">
            <div class="lyrics_with_chords">{{ song.lyrics_with_chords }}</div>
        </div>
        
        {% if song.qr_code_data %}
        <div class="qr-code">
            <img src="{{ song.qr_code_data }}" alt="YouTube QR kód">
        </div>
        {% endif %}
    </div>
    <div class="page-footer">
        <div style="font-size: 14px; color: #666;">Szabadon letölthető: https://somer.hu/siron</div>
    </div>
</body>
</html>
